@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;1,200&family=Public+Sans&display=swap');
body{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    background: #141414;
}
.home-page{ 
    background: url("./image/hirsiz.png") ;
    background-position: 0% 0%;
    background-size: cover ;
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;
   
    
}
.opac{
    background-image:  linear-gradient(to top,rgba(0,0,0,11.9) 0,rgba(0,0,0,0.5) 60%,rgba(0,0,0,.9) 100%);
    position: relative;
}
.navbar, .collapse{
    background: transparent !important;
}
.navbar-brand{
    width: 10%;
}
.navbar ul li a{
    color: #fff !important;
}
.navbar ul li a:hover{
    color: rgb(207, 204, 204) !important;
    transition: .3s;
}
.navbar-brand img{
    position: relative;
    width: 100%;
}
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; 
    transition: 10s !important;
}
.dropdown-menu{
    background: #000;
    opacity: .8;
}

.about-movie{
    width: 100%;
    padding: 25px;
}
.about-movie img{
   
    z-index: 5;
    width: 70%;
   
}
.dropdown-toggle::after{
    color: #fff !important;
}
.dropdown-toggle::after{
   transform: rotate(180deg) !important;
}
.about-movie h4{
    font-size: 16px ;
    color: #e5e5e5;
    font-weight: 800;
    font-family: 'Public Sans', sans-serif;
}
.about-movie p{
    color: #fff;
    font-family: 'Public Sans', sans-serif;
    color: #e5e5e5;
}
.info-btn  button {
    width: 30%;
    border: none;
    border-radius: 5px;  
    text-align: center;
    margin: 3px;
    font-family: 'Public Sans', sans-serif;
    font-weight: 900;
    height: 30px;
    font-size: 14px;
}
button.btn__primary:hover{
  background-color: #e5e5e5 !important;
  color: #000 !important;
}
.info-btn  a {
    width: 50%;
    
}
.info-btn .btn-primary{
    width: 40% !important;
    color:rgb(112, 109, 109);
    background-color: #fff;
    outline: none !important;
}
.info-btn .btn-primary:hover{
    width: 90%;
    color:#fff;
    background-color:rgb(112, 109, 109);
}


.second-btnn{
    background-color: rgb(175, 162, 162);
    opacity: .9;

}
.info-btn button:hover{
    transition: .3s;
    background-color: rgb(112, 109, 109);
}

.swiper-slide img {
    padding: 5px;
    display: flex;
    width: 100%;
    cursor: pointer;
    height: 100%;
    object-fit: cover;
    transition: transform .2s;
    border-radius: 10px !important;    
}
.swiper-slide img:hover{
    width: 100%;
    cursor: pointer;
    height: 100%;
    transition: .5s;
    transform: scale(1.1);   
}
.slide1 {
  width: 100%;
   
}
.movie__list__slide{
    margin-top: 18.5rem;
    box-shadow:#181818;
}

.first_movie_list h5{
    color:#e5e5e5 ;
    padding: 10px;
    font-size: 16px;
   
    
}
.swiper{
    padding-left: 25px !important;
    margin: 16px;
}


.title{
    display: flex;
    color: #e5e5e5;
    font-size: 20px;
    font-weight: 700;
}
  
.container{
    width: 100%;
    display: flex;
    align-items: flex-end;
}
  
.sub-title{
    color: #e5e5e5;
    font-size: 12px;
    margin-left: 10px;
    opacity: 0;
    transform: translate(-10px, 0);
    transition: ease .6s all;
}
  
.sub-icon{
    font-size: 12px;
    margin-left: 5px;
    opacity: 0;
    transform: translate(-80px, 0);
    transition: ease .6s all;
}

  
.sub{
    display: flex;
    align-items: flex-end;
}
  
.container:hover .sub-icon{
     opacity: 1;
     transition: ease .3s all;
}
  
.title:hover {
    cursor: pointer;
}
  
.title:hover .sub-title{
    opacity: 1;
    transform: translate(0, 0);
}
  
.title:hover .sub-icon{
    opacity: 1;
    transform: translate(0, 0);
}
.footer-about{
    margin-right: 60px;
}
.footer-about ul{
    padding-right: 70px;
}
  
.footer-about ul li{
    text-decoration: none;
    list-style: none;
    color: #e5e5e5;
}
.footer-about ul  a{
    text-decoration: none;
    font-weight: 500;
    font-family: 'Public Sans', sans-serif;
    list-style: none;
    color: #595d63;
}
.footer-about ul a:hover{
    
    color: #8d8686;
}
.social-icon{
    margin-left: 40px;
}
.social-icon a {
    font-size: 35px;
    color: #5e5b5b;
    margin-right: 8px;
    
}
.social-icon a:hover {
    font-size: 35px;
    color: #a7a0a0;
}

.modal-content{
    background-color:#141414;
    

}
.modal-header{
    border-bottom: none !important;
}
.modal-footer{
    border-top: none !important;
}

.modal-header button{
    color: #fff;
} 
.modal-header button:hover{
    color: rgb(201, 195, 195);
} 
.movie-img img{
    
   
    background-position: 0% 0%;
    background-size: cover ;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.movie-btn button{
    width: 120px;
    height: 40px;
    border-radius: 5px;
    border: none;
    font-family: 'Public Sans', sans-serif;
    font-weight: 700;
}

.movie-btn button:hover{
   background-color: #c0bdbd;
   
}
.liked i{
    margin-top: 4px;
    font-size: 15px;
    font-weight: 300;
    margin-right: 5px;
    color: #e5e5e5;
    border: 2px solid rgba(255,255,255,.5);
    background-color: rgba(42,42,42,.6);
    text-align: center;
    border-radius: 50%;
    padding: 7px;
}
.liked i:hover{
    background-color: rgba(255,255,255,.2);
}
.movie-about p{
    color:#46d369 ;
    font-size: 18px;
    font-family: 'Public Sans', sans-serif;
}
.movie-about span a{
    color: #e5e5e5;
    font-size: 14px;
}

.movie-about span{
    color: #777;
    font-size: 14px;
}
.card{
    background-color:#141414;
}
.card h5, p{
    color: #fff;
    font-size: small;
}
.card img:hover{
    width: 100%;
    cursor: pointer;
    transition: .5s;
    transform: scale(1.0);    
}

.modal-detail{
    max-width: 800px ;
    height: 1000px;
   

}


@media screen and (max-width:750px) {



    .navbar-brand {
        
        width: 30%;
    }
    
    
    
}

.modal{
    padding-top: 30px;
    padding-bottom: 30px;
    
   
}


